<include file="Public/header"/>
<!-- page special css plugin here -->
<style>
	.content {
		padding:20px 10px;
		min-height:400px;
	}
	.content .con-top {
		text-align:center;
		padding-bottom:20px;
	}
	.content .con-top h1 {
		padding-bottom:20px;
		color:#333;
	}
	.content .con-top .con-msg {
		border-bottom:1px solid #999;
		padding-bottom:10px;
	}
	.content .con-top .con-msg span {
		color:#666;
		display:inline-block;
		margin-right:20px;
	}
</style>
<link href="__PUBLIC__/Home/css/xkdy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<div class="all">
	<div class="content">
		<div class="con-top">
			<h1>{$data.title}</h1>
			<div class="con-msg">
				<span>编辑：{$data.editor}</span><span>日期：{$data.create_time|date="Y-m-d", ###}</span><span>来源：{$data.from}</span>
			</div>
		</div>
		<div class="con">
			{$data.content}
		</div>
	</div>
</div>

<!--脚部开始-->
<include file="Public/footer"/>
<!--脚部结束-->
</body>
</html>
