<include file="Public/header"/>
<!-- page special css plugin here -->
<link rel="stylesheet" href="__PUBLIC__/Home/css/lrtk.css" type="text/css" media="screen" />
<link href="__PUBLIC__/Home/css/gbg.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->

<div class="all"> 
  
  <div class="orbit-wrapper">
    <div id="featured" class="orbit"> 
      <foreach name="kanwu" item="v">
        <a target="_blank" href="{:U('Kanwu/viewer', ['id' => $v['id']])}">
          <img src="__ROOT__/{$v.face508}" width="350" alt="第{$v.number}期" title="第{$v.number}期">
        </a> 
      </foreach>
      
      </div>
    <div class="claer"></div>
  </div>
  <!-- 代码 结束 -->
  
  <div class="all_1">
    <div class="all_1l">
      <div class="all_1l_l">
        <div class="all_1l_ll"><strong>电视电影</strong>TV＆MOVIE</div>
        <div class="all_1l_lr">MORE+</div>
        <div class="clear"></div>
      </div>
      <div class="all_1l_2">
        <div class="all_1l_2l">
          <a href="{:U('Kanwu/detail', ['id' => $dsdy_hot['id']])}">
            <img src="__ROOT__/{$dsdy_hot.face368}" width="368" height="276" />
          </a>
          <p><a href="{:U('Kanwu/detail', ['id' => $dsdy_hot['id']])}"><strong>{$dsdy_hot.title}</strong></a></p>
          <p>{$dsdy_hot.desc}</p>
        </div>
        <div class="all_1l_2r">
          <ul>
            <foreach name="dsdy" item="v">
              <li> 
                <a href="{:U('Kanwu/detail', ['id' => $v['id']])}">
                  <img src="__ROOT__/{$v.face208}" width="208" height="156" />
                  <p>{$v.title|mb_substr=###, 0, 11, 'UTF-8'}...</p>
                </a>
              </li>
            </foreach>
          </ul>
        </div>
      </div>
    </div>
    <div class="all_1r">
      <div class="all_lr_1">
        <div class="all_lr_1l">广电报简介</div>
        <div class="all_lr_1r"><img src="__PUBLIC__/Home/Images/45.png" width="37" height="24" /></div>
        <div class="clear"></div>
      </div>
      <div class="all_lr_2"> 伴随着贵州电视台锐意进取的改革步伐,《贵州广播电视报》坚持以娱乐资讯为自身特色，不断创新提高，使内容更加喜闻乐见，贴近生活、成为贵州省唯一的大型文娱资证综合类报纸。其"社会""生活""影视""体育"等栏目和精彩的版面，深受读者喜爱。《贵州广播电视报》坚持以娱乐资讯为自身特色，不断创新提高，使内容更加喜闻乐见，贴近生活、成为贵州省唯一的大型文娱资证综合类报纸。</div>
      <div class="all_lr_3">
        <div class="all_lr_3l"><img src="__PUBLIC__/Home/Images/46.png" width="102" height="102" /></div>
        <div class="all_lr_3r">
          <p>扫一扫</p>
          <p>关注广电报微信</p>
          <p>新闻热线：0851-1234567</p>
          <p>发行热线：0851-7654321 </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="all_2">
    <div class="all_21">
      <div class="all_21_l "><strong>娱乐时尚</strong>FASHION</div>
      <div class="all_21_r ">MORE+</div>
      <div class="clear"></div>
    </div>
    <div class="all_22">
    <ul>
        <foreach name="ylss" item="v">
          <li> 
            <a href="{:U('Kanwu/detail', ['id' => $v['id']])}">
              <img src="__ROOT__/{$v.face258}" width="258" height="341" />
            </a>
              <span>{$v.title|mb_substr=###, 0, 14, 'UTF-8'}</span>
          </li>
        </foreach>
  </div>
  
  <DIV class="all_3">
  <div class="all_21">
      <div class="all_21_l all_21_la"><strong>健康</strong>HEALTHY</div>
      <div class="all_21_r all_21_ra">MORE+</div>
      <div class="clear"></div>
    </div>
    
    <div class="all_22">
    <ul>
    <li>
      <img src="__PUBLIC__/Home/Images/health.jpg" width="258" height="341" />
    </li>
    <foreach name="jk" item="v">
      <li> 
        <a href="{:U('Kanwu/detail', ['id' => $v['id']])}">
          <img src="__ROOT__/{$v.face255}" width="255" height="256" />
          <p>
            <strong>{$v.title|mb_substr=###, 0, 14, 'UTF-8'}</strong>
          </p>
          <p>
            {$v.desc|mb_substr=###, 0, 40, 'UTF-8'}
          </p>
        </a>
      </li>
    </foreach>

    </ul></div>
    </DIV><DIV class="all_3">
  <div class="all_21">
      <div class="all_21_l all_21_la"><strong>美食</strong>FOOD</div>
      <div class="all_21_r all_21_ra">MORE+</div>
      <div class="clear"></div>
    </div>
    
    
    <div class="all_22">
      <ul>
        <li><img src="__PUBLIC__/Home/Images/food.jpg" width="258" height="341" /></li>
        <foreach name="ms" item="v">
          <li> 
            <a href="{:U('Kanwu/detail', ['id' => $v['id']])}">
              <img src="__ROOT__/{$v.face255}" width="255" height="256" />
              <p>
                <strong>{$v.title|mb_substr=###, 0, 14, 'UTF-8'}</strong>
              </p>
              <p>
                {$v.desc|mb_substr=###, 0, 40, 'UTF-8'}
              </p>
            </a>
          </li>
        </foreach>
   
     
      </ul>
    </div>
    </DIV>
  <div class="clear"></div>
</div>

<!--脚部开始-->
<include file="Public/footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jq.orbit.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/orbit.js"></script> 
<!--脚部结束-->
</body>
</html>
