<include file="Public/header"/>
<!-- page special css plugin here -->
<link rel="stylesheet" href="__PUBLIC__/Home/css/lrtk.css" type="text/css" media="screen" charset="gb2312" />
<link href="__PUBLIC__/Home/css/gbg.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->

<div class="all"> 
  
  <div class="orbit-wrapper">
    <div id="featured" class="orbit"> <a href="#"><img src="__PUBLIC__/Home/Images/01.jpg" width="350" alt="《Just Married》" title="《Just Married》"></a> <a href="#"><img src="__PUBLIC__/Home/Images/02.jpg" width="350" alt="《佩加索斯》" title="《佩加索斯》"></a> <a href="#"><img src="__PUBLIC__/Home/Images/03.jpg" width="350" alt="《太庙的一场偶遇》" title="《太庙的一场偶遇》"></a> <a href="#"><img src="__PUBLIC__/Home/Images/04.jpg" width="350" alt="《为爱痴狂》" title="《为爱痴狂》"></a> <a href="#"><img src="__PUBLIC__/Home/Images/05.jpg" width="350" alt="《游走，在北京的每一条街》" title="《游走，在北京的每一条街》"></a> </div>
    <div class="claer"></div>
  </div>
  <!-- 代码 结束 -->
  
  <div class="all_1">
    <div class="all_1l">
      <div class="all_1l_l">
        <div class="all_1l_ll"><strong>电视电影</strong>TV＆MOVIE</div>
        <div class="all_1l_lr">MORE+</div>
        <div class="clear"></div>
      </div>
      <div class="all_1l_2">
        <div class="all_1l_2l"><img src="__PUBLIC__/Home/Images/43.png" width="368" height="276" />
          <p><a href="#"><strong>陈凯歌"完成穿越回归人家"</strong></a></p>
          <p>由新丽传媒、21世纪盛凯影业出品，陈凯歌导演，高圆圆、姚晨、赵又廷、陈红、王学圻、王珞丹、陈燃、张译主演的当代都市题材电影</p>
        </div>
        <div class="all_1l_2r">
          <ul>
            <li> <img src="__PUBLIC__/Home/Images/44.png" width="208" height="156" />
              <p><a href="#">陈凯歌"完成穿越回归人间"</a></p>
            </li>
            <li> <img src="__PUBLIC__/Home/Images/44.png" width="208" height="156" />
              <p><a href="#">陈凯歌"完成穿越回归人间"</a></p>
            </li>
            <li> <img src="__PUBLIC__/Home/Images/44.png" width="208" height="156" />
              <p><a href="#">陈凯歌"完成穿越回归人间"</a></p>
            </li>
            <li> <img src="__PUBLIC__/Home/Images/44.png" width="208" height="156" />
              <p><a href="#">陈凯歌"完成穿越回归人间"</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="all_1r">
      <div class="all_lr_1">
        <div class="all_lr_1l">广播简简介</div>
        <div class="all_lr_1r"><img src="__PUBLIC__/Home/Images/45.png" width="37" height="24" /></div>
        <div class="clear"></div>
      </div>
      <div class="all_lr_2"> 伴随着贵州电视台锐意进取的改革步伐,《贵州广播电视报》坚持以娱乐资讯为自身特色，不断创新提高，使内容更加喜闻乐见，贴近生活、成为贵州省唯一的大型文娱资证综合类报纸。其"社会""生活""影视""体育"等栏目和精彩的版面，深受读者喜爱。《贵州广播电视报》坚持以娱乐资讯为自身特色，不断创新提高，使内容更加喜闻乐见，贴近生活、成为贵州省唯一的大型文娱资证综合类报纸。</div>
      <div class="all_lr_3">
        <div class="all_lr_3l"><img src="__PUBLIC__/Home/Images/46.png" width="102" height="102" /></div>
        <div class="all_lr_3r">
          <p>扫一扫</p>
          <p>关注广电报微信</p>
          <p>新闻热线：0851-1234567</p>
          <p>发行热线：0851-7654321 </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="all_2">
    <div class="all_21">
      <div class="all_21_l "><strong>娱乐时尚</strong>TV&amp;MOVIE</div>
      <div class="all_21_r ">MORE+</div>
      <div class="clear"></div>
    </div>
    <div class="all_22">
    <ul><li><img src="__PUBLIC__/Home/Images/47.png" width="258" height="341" /><span>明星机场装 大气简约范儿足够了</span></li><li><img src="__PUBLIC__/Home/Images/47.png" width="258" height="341" /><span>明星机场装 大气简约范儿足够了</span></li><li><img src="__PUBLIC__/Home/Images/47.png" width="258" height="341" /><span>明星机场装 大气简约范儿足够了</span></li><li><img src="__PUBLIC__/Home/Images/47.png" width="258" height="341" /><span>明星机场装 大气简约范儿足够了</span></li>
    </ul></div>
  </div>
  
  <DIV class="all_3">
  <div class="all_21">
      <div class="all_21_l all_21_la"><strong>健康</strong>HEALTHY</div>
      <div class="all_21_r all_21_ra">MORE+</div>
      <div class="clear"></div>
    </div>
    
    <div class="all_22">
    <ul><li><img src="__PUBLIC__/Home/Images/47.png" width="258" height="341" /></li><li><img src="__PUBLIC__/Home/Images/49.png" width="255" height="256" /><p>
    
 <strong>晚睡晚起不利于身体健康</strong>
    </p>
      <p>
    人要根据四季变化来调整自己的作息，顺应自然，能够改善睡眠质量，起到很好的养生作。如</p></li><li><img src="__PUBLIC__/Home/Images/49.png" width="255" height="256" /><p>
    
 <strong>晚睡晚起不利于身体健康</strong>
    </p>
      <p>
    人要根据四季变化来调整自己的作息，顺应自然，能够改善睡眠质量，起到很好的养生作。如</p></li><li><img src="__PUBLIC__/Home/Images/49.png" width="255" height="256" /><p>
    
 <strong>晚睡晚起不利于身体健康</strong>
    </p>
      <p>
    人要根据四季变化来调整自己的作息，顺应自然，能够改善睡眠质量，起到很好的养生作。如</p></li>
    </ul></div>
    </DIV><DIV class="all_3">
  <div class="all_21">
      <div class="all_21_l all_21_la"><strong>美食</strong>FOOD</div>
      <div class="all_21_r all_21_ra">MORE+</div>
      <div class="clear"></div>
    </div>
    
    <div class="all_22">
    <ul><li><img src="__PUBLIC__/Home/Images/47.png" width="258" height="341" /></li><li><img src="__PUBLIC__/Home/Images/49.png" width="255" height="256" /><p>
    
 <strong>晚睡晚起不利于身体健康</strong>
    </p>
      <p>
    人要根据四季变化来调整自己的作息，顺应自然，能够改善睡眠质量，起到很好的养生作。如</p></li><li><img src="__PUBLIC__/Home/Images/49.png" width="255" height="256" /><p>
    
 <strong>晚睡晚起不利于身体健康</strong>
    </p>
      <p>
    人要根据四季变化来调整自己的作息，顺应自然，能够改善睡眠质量，起到很好的养生作。如</p></li><li><img src="__PUBLIC__/Home/Images/49.png" width="255" height="256" /><p>
    
 <strong>晚睡晚起不利于身体健康</strong>
    </p>
      <p>
    人要根据四季变化来调整自己的作息，顺应自然，能够改善睡眠质量，起到很好的养生作。如</p></li>
    </ul></div>
    </DIV>
  <div class="clear"></div>
</div>

<!--脚部开始-->
<include file="Public/footer"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jq.orbit.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/orbit.js"></script> 
<!--脚部结束-->
</body>
</html>
