<include file="Public/header"/>
<!-- page special css plugin here -->
<link href="__PUBLIC__/Home/css/xkdy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<div class="all">
  <div class="all_1">
  	<foreach name="cate" item="v">
  		<a <if condition="$cid eq $v['id']">class="zzsy"</if> href="{:U('News/index', array('cid' => $v['id']))}">{$v.name}</a>
  	</foreach>
	</div>  
  <div class="all_6">
  	<foreach name="list" item="v">
	  	<div class="all_61">
	    	<div class="all_61_l"><img src="<if condition="$v['face200']">__ROOT__/{$v.face200}<else/>__PUBLIC__/Default/images/no_image.jpg</if>" width="200" height="230" /></div>
	        	<div class="all_61_r">
		            <h1><a href="{:U('News/detail', array('id' => $v['id']))}">{$v.title}</a></h1>
		            <p><span>{$v.create_time|date="Y/m/d H:i", ###}</span></p>
		            <p>{$v.desc}</p>
	            </div>
	    	<div class="clear"></div>
	    </div>
    </foreach>
  </div> 
  <div class="page-style">{$page}</div>
  <div class="clear"></div>
</div>
<!--脚部开始-->
<include file="Public/footer"/>
<!--脚部结束-->
</body>
</html>
