<include file="Public/header"/>
<!-- page special css plugin here -->
<include file="Public/nav"/>
            <section class="main-content">
                <div class="content-wrap">
                	<div class="row mg-b">
                        <div class="col-xs-12">
                            <h3 class="no-margin">{$titleL2}</h3>
                            <small>Find the pricing plan that's right for your business</small>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
<!-- page special js plugin here -->
<include file="Public/footer"/>  
</body>

</html>