<include file="Public/header"/>
<!-- page special css plugin here -->
<link href="__PUBLIC__/Home/css/index.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/index-focus.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<!-- focus -->
<div class="idx-focus" id="j_idx_focus">
	
	<div class="idx-foc-tmp">
		<ul class="focus-pic" rel="xtaberItems">
			<foreach name="ad" item="v">
        <a href="{$v.url}" target="_blank" class="white">
  				<li class="xtaber-item" back-img="__ROOT__/{$v.big_thumb}"></li>
        </a>
      </foreach>
		</ul>
	</div>

	<div  class="xtaber-tabs">
		
    <ul rel="xtaberTabs" id="tab-ul">
      <foreach name="ad" item="v">
  			<li rel="xtaberTabItem">
  				<img src="__ROOT__/{$v.small_thumb}" >
  			</li>
      </foreach>
		</ul>
	</div>

	<li class="bg"></li>
	<a href="javascript:;" class="btn-prev"></a>
	<a href="javascript:;" class="btn-next"></a>
</div>

<!-- focus end -->

<div class="all">
  <div class="all_1">
    <div class="all_1l">
      <div class="all_1l_1"><a href="{:U('News/index')}">更多》</a><strong>热点新闻</strong></div>
      <div class="all_1l_2">
       
        <div class="all_1l_2l"><img src="__ROOT__/{$hot.face200}" height="95" width="139"></div>
        <div class="all_1l_2r">
          <h3><a href="{:U('News/detail', ['id' => $hot['id']])}">{$hot.title|mb_substr=###, 0, 17, 'UTF-8'}</a></h3>
          <p>{$hot.desc|mb_substr=###, 0, 70, 'UTF-8'}...</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="all_1l_3">
        <ul>
          <foreach name="hots" item="v">
            <li><span>{$v.create_time|date="m-d", ###}</span><a href="{:U('News/detail', ['id' => $v['id']])}">{$v.title|mb_substr=###, 0, 20, 'UTF-8'}...</a></li>
          </foreach>
        </ul>
      </div>
    </div>
    <div class="all_1r">
      <div class="all_1l_1"><a href="{:U('Movie/index')}">更多》</a><strong>视频</strong></div>
      <div class="all_1r_1">
        <ul>
          <foreach name="recommend" item="v">
          <li>
            <a href="{:U('Movie/play', ['id' => $v['id']])}">
            <img <if condition="$v['face160']">src="__ROOT__/{$v.face160}"<else/>src="__PUBLIC__/Default/images/no_image.jpg"</if> width="160" height="181" /></a>
          </li>
          </foreach>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- <div class="all_2">
    <div class="all_2l"> <img src="__PUBLIC__/Home/images/70.png" width="812" height="318" /></div>
    <div class="all_2r">
      <div class="all_2r_1"> 伴随着贵州电视台锐意进取的改革步伐,《贵州广播电视报》坚持以娱乐资讯为自身特色，不断创新提高，使内容更加喜闻乐见，贴近生活、成为贵州省唯一的大型文娱资证综合类报纸。其"社会""生活""影视""体育"等栏目和精彩的版面，深受读者喜爱。《贵州广播电视报》坚持以娱乐资讯为自身特色，不断创新提高，使内容更加喜闻乐见，贴近生活、成为贵州省唯一的大型文娱资证综合类报纸。</div>
      <div class="all_2r_2">
        <div class="all_2r_2l"><img src="__PUBLIC__/Home/images/71.png" width="88" height="88" /></div>
        <div class="all_2r_2r">
          <p><strong>扫一扫</strong></p>
          <p><strong>关注广电报威信</strong></p>
          <p><strong>新闻热线：</strong>0851-1234567</p>
          <p><strong>发行热线：</strong>0851-1231233</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div> -->
  <div class="all_3">
    <div class="all_3l">
      <div class="all_3l_1"> <a class="sangying" href="#">影城正在上映</a><a href="#">即将上映</a> </div>
      <div class="all_3l_2">
        <ul>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
          <li><img src="__PUBLIC__/Home/images/72.png" width="186" height="248" /></li>
        </ul>
      </div>
    </div>
    <div class="all_3r" >
      <div class="all_3r_1">
        <ul>
          <li><img src="__PUBLIC__/Home/images/73.png" width="88" height="86" /></li>
          <li><img src="__PUBLIC__/Home/images/74.png" width="88" height="86" /></li>
          <li><a href="{:U('Interaction/exchange')}"><img src="__PUBLIC__/Home/images/75.png" width="88" height="86" /></a></li>
          <li><a href="{:U('Theater/index')}"><img src="__PUBLIC__/Home/images/76.png" width="88" height="86" /></a></li>
          <li><a href="{:U('Movie/index')}"><img src="__PUBLIC__/Home/images/77.png" width="88" height="86" /></a></li>
          <li><a href="{:U('Help/index')}"><img src="__PUBLIC__/Home/images/78.png" width="88" height="86" /></a></li>
        </ul>
      </div>
      <div class="all_3r_2"> 
        <img src="__PUBLIC__/Home/images/79.png" width="278" height="110" />
        <img src="__PUBLIC__/Home/images/80.png" width="278" height="110" />
        <img src="__PUBLIC__/Home/images/81.png" width="278" height="110" />
        <img src="__PUBLIC__/Home/images/82.png" width="278" height="110" />
        <img src="__PUBLIC__/Home/images/83.png" width="278" height="110" />
      </div>
      <dl class="gdb">
        <dt>
          <img src="__PUBLIC__/Home/images/aaa_03.jpg"  alt="">
        </dt>
        <dd>
          <h3>第1235期</h3>
          <p>女汉子的爱情奋斗史《幸福请你等等我》，来自猩猩的你《猩球崛起：黎明之战》，范玮琪怀双胞胎 否认人工受</p>
        </dd>
      </dl>
    </div>
  </div>
  <div class="clear"></div>
</div>


<div class="friendship">
<div class="friendship_1">
<div class="friendship_l">
友情链接：

</div><div class="friendship_r">
  <img src="__PUBLIC__/Home/images/84.png" width="161" height="54" /><img src="__PUBLIC__/Home/images/85.png" width="161" height="54" /><img src="__PUBLIC__/Home/images/86.png" width="161" height="54" /><img src="__PUBLIC__/Home/images/87.png" width="161" height="54" /><img src="__PUBLIC__/Home/images/88.png" width="161" height="54" /><img src="__PUBLIC__/Home/images/89.png" width="161" height="54" /></div>

</div>
<div class="clear"></div>
</div>

<!--脚部开始-->
<include file="Public/footer"/>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index-focus.js"></script>
<script src="__PUBLIC__/Home/js/jquery.taber.js"></script>
<script type="text/javascript">
$(function(){
    /* 首页焦点图 */
    if(isNeeded('#j_idx_focus')){
      var obj = $('#j_idx_focus');
      $.fn.xTaber({
          content: obj,
          tab: obj,
          auto: true,
          style: 'left',
          prev: obj.find('.btn-prev'),
          next: obj.find('.btn-next')
      });
    }
});
</script>
<!--脚部结束-->
</body>
</html>
