<include file="Public/header"/>
<!-- page special css plugin here -->
<link href="__PUBLIC__/Home/css/xkdy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<div class="all">
  <div class="all_1"> 
		<a href="{:U('Interaction/index')}">热门活动</a>
		<a class="zzsy" href="{:U('Interaction/exchange')}">积分兑换</a>
		<a href="{:U('Interaction/lostAndFound')}">失物招领</a>
   </div>
  <div class="all_4">
    <div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div>
       <div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div>
       <div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div><div class="all_41">
      <div class="all_41_1"><img src="__PUBLIC__/Home/images/19.png" width="236" height="181" /></div>
      <div class="all_41_2"><p><strong>GGV套餐</strong></p>
      <p>大爆米花1份+中杯可乐2杯+烤肠2支</p>
      </div>
      <div class="all_41_3"><strong>2000份</strong><span>积分：300</span></div>
      <div class="all_41_4"><a href="#"><img src="__PUBLIC__/Home/images/20.png" width="94" height="32" /></a></div>
    </div>
    
    
   
      <div class="clear"></div>
       <div class="page"><span>1</span>共3页 去
         <input name="" type="text" value="1" />页　　</div>
  </div>
  <div class="clear"></div>
</div>

<!--脚部开始-->
<include file="Public/footer"/>
<!--脚部结束-->
</body>
</html>
