<include file="Public/header"/>
<!-- page special css plugin here -->
<link href="__PUBLIC__/Home/css/xkdy.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<div class="all">
	<div class="all_1"> 
		<a class="zzsy" href="{:U('Interaction/index')}">热门活动</a>
		<a href="{:U('Interaction/exchange')}">积分兑换</a>
		<a href="{:U('Interaction/lostAndFound')}">失物招领</a>
	</div>
<div class="all_3">
	<div class="all_31"><img src="__PUBLIC__/Home/images/18.png" width="1084" height="364" /></div>
	<div class="all_31"><img src="__PUBLIC__/Home/images/18.png" width="1084" height="364" /></div>
	<div class="all_31"><img src="__PUBLIC__/Home/images/18.png" width="1084" height="364" /></div>
	<div class="all_31"><img src="__PUBLIC__/Home/images/18.png" width="1084" height="364" /></div>
<div class="page"><span>1</span>共3个活动 去<input name="" type="text" value="1" />页</div>

</div>
<div class="clear"></div>
</div>

<!--脚部开始-->
<include file="Public/footer"/>
<!--脚部结束-->
</body>
</html>
