@charset "utf-8";
/* CSS Document */
body{
	background:#f5f5f5;
	}
.top{
	width:100%;
	background:#1e1e1e;
	height:25px;
	}
.top_1{
	width:1120px;
	margin:0px auto;
	}
.top_1_l{
	float:left;
	color:#fff;
	height:25px;
	line-height:25px;
	}	
.top_1_l a{
	color:#fff;
	padding:0px 5px;
	}
.top_1_r{
	float:right;
	width:216px;
	height:25px;
	line-height:25px;
	}
.top_1_r div{
	float:left;
	}
.top_1_r .wenbenyu{
	line-height:24px;
	background:#353535;
	height:24px;
	width:190px;
	marker-offset:auto;
	border:none;
	
	}
.anniu{
	width:25px;
	height:24px;
	border:none;
	background:url(../images/anniu.png) center left no-repeat #353535 !important ;
	}
.daohang{
	width:100%;
	height:112px;
	background:url(../images/danghang.png)	 center center no-repeat;
	position:relative;
	z-index:9999;
	}
.daohang_1{
	width:1120px;
	margin:0px auto; 
	height:112px;
	background:url(../images/10.png) center left no-repeat;
	}
.daohang_1 ul{
	margin-left:400px;
		padding-top:35px;
	}
.daohang_1 ul li{

	width:70px;
	float:left;
height:77px;
	margin-left:10px;

	text-align:center;
	}
.daohang_1 ul a:hover, .daohang_1 ul a.active{
	height:74px;
	border-bottom:3px solid #FFF;
	}
.daohang_1 ul li p{
	height:35px;
	}
.daohang_1 ul li a{
	display:block;
	line-height:40px;
	font-size:16px;
	color:#FFF;
	height:77px;
	font-weight:bold;
	
	}
.present{
		width:1120px;
	margin:0px auto; 
	color:#787878;
	line-height:50px;
	height:50px;
	}
.present a{
	color:#787878;
	}
.foot{
	background:#353535;
	height:230px;
	width:100%;
	}
.foot_1{
	width:1120px;
	margin:0px auto;
	}
.foot_11{
	padding-top:45px;
	padding-bottom:30px;
	border-bottom:1px solid #727272;
	}
.foot_11_1_1{
	
	float:left;
	}
.foot_11_1{
	float:left;
	margin-left:15px;
	margin-right:35px;
	width:250px;
	}
.foot_11_1g{
	width:200px;
	
	}
.foot_11_1_2{
	float:left;
	margin-left:20px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	padding-top:5px;
	}
.foot_11_1_2 strong{
	font-size:20px;
	display:block;
	margin-top:5px;
	letter-spacing:2px;
	}	
.foot_12{
	color:#fff;
	line-height:30px;
	height:30px;
	margin-top:10px;
	font-size:13px;
	font-weight:bold;
	}
.foot_12 a {
	color:#fff;
	}