<include file="Public/header"/>
<!-- page special css plugin here -->
<link href="__PUBLIC__/Home/css/lite.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<div id="wvdm">
<div class="h35"></div>
    <div id="wvdm1">
        <div id="wvdm2">
        	<h3>影城分布</h3>
        	<foreach name="city" item="v">
        		<if condition="$v['theater']">
            		<p><b>{$v.name}</b></p>
	          		<foreach name="v['theater']" item="val">
	          			<p><img src="__PUBLIC__/Home/images/about/1.jpg" width="5" height="6" /><a href="{:U('Theater/detail', ['id' => $val['id']])}">{$val.name}</a></p>
	          		</foreach>
          		</if>
          	</foreach> 
        </div>
        <div id="wvdm3">
        <img src="__PUBLIC__/Home/images/about/2.jpg" width="635" height="524" /> </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
<!--脚部开始-->
<include file="Public/footer"/>
<!--脚部结束-->
</body>
</html>
