<include file="Public/header"/>
<!-- page special css plugin here -->
<link href="__PUBLIC__/Home/css/lite.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--nav start-->
<include file="Public/nav"/>
<!--nav end-->
<div id="wvdm">
<div class="h35"></div>
    <div id="wvdm1">
        <div id="wcsk">
            <ul>
                <li class="llo"><a href="{:U('About/index')}">公司介绍</a></li>
                <li><a href="#">星空动态</a></li>
                <li><a href="#">加入星空</a></li>
            </ul>
           
        </div>
        <div id="wjx">
           <h3>贵州星空影业有限公司是贵州省电影行政管理职能划<br />
转至广电系统后贵州电影产业的重大举措、贵州文化产业的重点项目。</h3>
        <img src="__PUBLIC__/Home/images/about/3.jpg" width="768" height="125" />        </div>
        
        
        <div id="sawc">
            <div id="sawc1">
                <h3>规模化建设城市影院，打造电影全产业链<br />
</h3>
                <p>　　贵州星空影业有限公司专注于电影产业，是从连锁式数字影院投资建设、运营逐步向影片发行、制作及电影衍生品开发等领域进军，旨在打造全产业链的电影企业。在未来2-3年内，公司将在全省所有地州的中心城市兴建统一品牌、统一管理、统一供片、统一财务的连锁影城，让星空影城以最快的速度覆盖全省，成为管理标准化、规范化和模块化的贵州首个电影院线。</p>
          </div>
        </div>
        <div id="sawc0">
            <div id="sawc10">
                <h3>发展目标</h3>
                <p>近期目标——快速扩张影院规模，成立院线公司，介入发行领域；<br />

中期目标——跻身全国院线公司10强；<br />

远期目标——介入制片领域，全产业链运营。</p>
            </div>
            <div id="sawc100">
            <img src="__PUBLIC__/Home/images/about/10.jpg" width="241" height="201" /> </div>
      </div>
      <div id="sawc22">
            <div id="sawc12">
                <h3>规模化建设城市影院，打造电影全产业链<br />
</h3>
                <p>　　贵州星空影业有限公司专注于电影产业，是从连锁式数字影院投资建设、运营逐步向影片发行、制作及电影衍生品开发等领域进军，旨在打造全产业链的电影企业。在未来2-3年内，公司将在全省所有地州的中心城市兴建统一品牌、统一管理、统一供片、统一财务的连锁影城，让星空影城以最快的速度覆盖全省，成为管理标准化、规范化和模块化的贵州首个电影院线。</p>
          </div>
        </div>
      <div id="sawc4">
            <div id="sawc14">
                <h3>星空经营思路<br />
</h3>
                <p>围绕“城市电影产业化 农村电影公益化”的原则发展业务。<br />
                  规模化是公司的关键核心竞争力。<br />
　·　产生规模成本效应，利于企业降低运营成本；<br />
　·　推动营销、服务、管理的专业化和标准化建设；<br />
　·　获取渠道优势和市场主导权；<br />
　·　培育市场的资金实力。</p>
                
        </div>
          <div id="sawc100">
           <img src="__PUBLIC__/Home/images/about/11.jpg" width="241" height="201" /></div>
        </div>
      <div id="sawc15">
            <div id="sawc150">
                <h3>星空经营模式</h3>
                <p>影院连锁店模式<br />
　·　投资体系标准化，复制经营模式，快速扩展影院规模；<br />
　·　以资产为纽带，多形式、多要素参与投资兴建影院，影院实行项目制，责权利明确；<br />
　·　规模化、集约化经营，有利于降低成本；<br />
　·　管理标准化、规模化、模块化，坚持统一品牌、统一管理、统一供片、统一财务。<br />
                </p>
            </div>
            
      </div>
      
      <div id="sawc16">
        <div id="sawc160">
                <h3>星空经营模式</h3>
            <p>体制：所有权和经营权分离，治理结构完善。<br />
                  资源：资金充足，融资渠道多样；广电北京，<br />
                  团队：由贵州电视台经营体制核心成员和高新引进的专业人才构成。<br />
            </p>
          </div>
            
      </div>
    </div><div class="clear"></div>
</div>
<!--脚部开始-->
<include file="Public/footer"/>
<!--脚部结束-->
</body>
</html>
